@{
    ViewData["Title"] = "Confirm New Bowler";
}

@model MySQLFun.Models.Bowler

<h2>@Model.BowlerFirstName @Model.BowlerMiddleInit @Model.BowlerLastName has been added. </h2>

@* This is a confirmation window to show that a bowler has been added to the database *@
